@import "./../functions.scss";

header {
  position: relative;
  z-index: 10;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  background-color: transparentize($color1, .1);
  backdrop-filter: blur(3px);
  padding: 2.2rem 0;
  display: flex;
  justify-content: center;

  .navigation {
    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      max-width: calc($desktop + 60rem);
    }

    &_logo {
      width: 6rem;
      height: 6rem;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &_menu {
      & > ul {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0;
        gap: 8rem;

        @include tablet{
          gap: 4rem;
        }
      }

      ul.sub-menu {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        z-index: 1;
        background-color: $color1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        min-width: 100%;
        padding: 1.5rem;
        border: .2rem solid $color0;
        gap: 1rem;
        opacity: 0;
        user-select: none;
        pointer-events: none;
        transition: opacity .3s ease, bottom .3s ease;

        &.active {
          bottom: -1rem;
          opacity: 1;
          user-select: all;
          pointer-events: all;
        }

        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2rem;
          transform: translateY(-100%);
        }
      }

      li {
        position: relative;

        &.demo > a{
          @include button(
                          $fontColor: $color1,
                          $hoverFontColor: $color1
          );
          &::after {
            @include icon("\e5c8", 2.5rem);
            padding-left: 1rem;
          }
        }

        & > a{
          display: flex;
          align-items: center;
          @include font($text, 2rem, 500, $color0);
          transition: color .3s ease;
        }

        &.menu-item-has-children {
          & > a:after{
            @include icon("\e5cf");
          }
        }

        &:hover, &.current-menu-item{
          & > a{
            color: $color2;
          }
        }
      }

    }
  }
}
